body{
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #08645E;

}
ul{
  margin: 0;
  padding: 0;
  box-shadow: 0 15px 40px rgb(13, 150, 142);
}
ul li {
  position: relative;
  list-style: none;
  font-size: 1em;
  padding: 15px;
  color: #fff;
  font-family: monospace;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;

}
ul li:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: red;
   z-index: -1;
   transform: scaleY(0);
   transition: all 0.5s;
   transform-origin: bottom;

}

ul li:hover:before{
  transform: scaleY(1);
  transition: all  0.5s;
  transform-origin: top;
}
ul li:hover{
 color: #111;
background: #FAC033;
}
ul li:after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: red;
   z-index: -2;
   transform: scaleY(0);
   transition: transform 0.5s;
   transform-origin: bottom;
   filter: blur(40px);

}
ul li:hover:after{
  transform: scaleY(1);
  transition: transform 0.5s;
  transform-origin: top;
}
ul li a {
  text-decoration: none;
  color: #111;
  letter-spacing: .5px;

}
