<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="table-box">
      <table cellpadding="10">
        <tr>
          <th>N_TELEPHONE</th>
          <th>Mnt Trs</th>

          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
          <tr>
            <td>0605331618</td>
            <td>114</td>

            <td><a class="change" href ="#">Modifier</a></td>
            <td><a class="change" href ="#">Supprimer</a></td>
         </tr>
         <tr>
           <td>0612457853</td>
           <td>1445</td>

           <td><a class="change" href ="#">Modifier</a></td>
           <td><a class="change" href ="#">Supprimer</a></td>
        </tr>
        <tr>
          <td>060321548</td>
          <td>14521</td>

          <td><a class="change" href ="#">Modifier</a></td>
          <td><a class="change" href ="#">Supprimer</a></td>
       </tr>
       <tr>
         <td>0645122541</td>
         <td>4454</td>

         <td><a class="change" href ="#">Modifier</a></td>
         <td><a class="change" href ="#">Supprimer</a></td>
      </tr>
      <tr>
        <td>0620190603</td>
        <td>114</td>

        <td><a class="change" href ="#">Modifier</a></td>
        <td><a class="change" href ="#">Supprimer</a></td>
     </tr>
     <tr>
       <td>0621190644</td>
       <td>1445</td>

       <td><a class="change" href ="#">Modifier</a></td>
       <td><a class="change" href ="#">Supprimer</a></td>
    </tr>
    <tr>
      <td>0612453211</td>
      <td>14521</td>

      <td><a class="change" href ="#">Modifier</a></td>
      <td><a class="change" href ="#">Supprimer</a></td>
   </tr>
   <tr>
     <td>0506121415</td>
     <td>4454</td>

     <td><a class="change" href ="#">Modifier</a></td>
     <td><a class="change" href ="#">Supprimer</a></td>
  </tr>
      </table>

  </div>
<div class="log">
      <h2>Telecom</h2>
      <form  [formGroup]="InGroup">
        <div class="us">
          <input type="text" name="login" formControlName="ntransfert" required="">
          <label>N_TELEPHONE</label>
        </div>
        <div class="us">
          <input type="text" name="mtn" fromControlName="mtn" required="">
          <label>Mnt Trs</label>
        </div>

        <div class="lo">
      <a>
        Ajouter
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
      </div>
      </form>
      </div>

  </body>
</html>
