<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="table-box">
      <table cellpadding="10">
        <tr>
          <th>N_</th>
          <th>Mnt Trs</th>

          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
          <tr>
            <td>P_20190603_144	</td>
            <td>114</td>

            <td><a class="change" href ="#">Modifier</a></td>
            <td><a class="change" href ="#">Supprimer</a></td>
         </tr>
         <tr>
           <td>ZZ_20190603_145</td>
           <td>145</td>

           <td><a class="change" href ="#">Modifier</a></td>
           <td><a class="change" href ="#">Supprimer</a></td>
        </tr>
        <tr>
          <td>A_20190603_146</td>
          <td>14021</td>

          <td><a class="change" href ="#">Modifier</a></td>
          <td><a class="change" href ="#">Supprimer</a></td>
       </tr>
       <tr>
         <td>DE_20190603_142</td>
         <td>454</td>

         <td><a class="change" href ="#">Modifier</a></td>
         <td><a class="change" href ="#">Supprimer</a></td>
      </tr>
      <tr>
        <td>G_20190603_148</td>
        <td>5514</td>

        <td><a class="change" href ="#">Modifier</a></td>
        <td><a class="change" href ="#">Supprimer</a></td>
     </tr>
     <tr>
       <td>FA_20190603_149</td>
       <td>145</td>

       <td><a class="change" href ="#">Modifier</a></td>
       <td><a class="change" href ="#">Supprimer</a></td>
    </tr>
    <tr>
      <td>PAMS_20190603_147</td>
      <td>1421</td>

      <td><a class="change" href ="#">Modifier</a></td>
      <td><a class="change" href ="#">Supprimer</a></td>
   </tr>
   <tr>
     <td>20190603_141</td>
     <td>4454</td>

     <td><a class="change" href ="#">Modifier</a></td>
     <td><a class="change" href ="#">Supprimer</a></td>
  </tr>
      </table>

  </div>
<div class="log">
      <h2>Autres</h2>
      <form  [formGroup]="InGroup">
        <div class="us">
          <input type="text" name="login" formControlName="ntransfert" required="">
          <label>N_</label>
        </div>
        <div class="us">
          <input type="text" name="mtn" fromControlName="mtn" required="">
          <label>Mnt Trs</label>
        </div>

        <div class="lo">
      <a>
        Ajouter
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
      </div>
      </form>
      </div>

  </body>
</html>
