<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <header>
       <div class="login">
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
        
      </div>
     <nav>
           <div class="logo">
             logo
           </div>
           <div class="menu">
             <ul>
               <li><a href="#">Home</a></li>
               <li><a href="#">Service</a></li>
               <li><a href="#">About us</a></li>
               <li><a href="#">Contact us</a></li>
             </ul>
           </div>
     </nav>
    </header>
  </body>
</html>
