<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
  <h3>cash <span>plus</span></h3>


<div class="table-box">
    <table>
       <tr>
         <th></th>
         <th>FRANCHISE-siege-</th>
         <th>AGENCE</th>
         <th>OBSERVATION</th>
       </tr>
       <tr>
         <td>BALANCE DEVUT DE JOURNEE</td>
         <td>14812.56</td>
         <td>14812.56</td>
         <td></td>
       </tr>
       <tr>
         <td>ALIMENTATION ENTREE-siege-</td>
         <td>0</td>
         <td>0</td>
         <td></td>
       </tr>
       <tr>
         <td>ALIMENTATION ENTREE-interagence-</td>
         <td>0</td>
         <td>0</td>
         <td></td>
       </tr>
       <tr>
         <td>VERSEMENT</td>
         <td>0</td>
         <td>0</td>
         <td></td>
       </tr>
       <tr>
         <td>ALIMENTATION SORTIE-interagence-</td>
         <td>0</td>
         <td>0</td>
         <td></td>
       </tr>
     </table>
     </div>
</header>
  </body>
</html>
